.notif {
  display: flex;
  flex-direction: column;
  border: 1px solid none;
  border-radius: 10px;
  margin: 0 1.5em 0.9em;
  background-color: hsl(211, 68%, 94%);
}

.notif img {
  display: flex;
  width: 3.5em;
  position: relative;
  left: 1em;
  top: 1.1em;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto 2em;
  font-size: 0.9em;
  position: relative;
  bottom: 1.5em;
}

.newNot {
  font-size: .5em;
  position: relative;
  bottom: .3em;
  left: .3em;
}

.time {
  display: flex;
  flex-direction: column;
}

